@font-face {
    font-family: 'digital-clock-font';
    src: url('public/alarm_clock.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Unit */

.unit {
  border: 5px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  height: 600px;
  background-color: #d6d5cf;
  text-transform: uppercase;
}

/* Display */

.screen {
  border: 5px solid black;
  border-radius: 20px;
  margin: 25px;
  padding: 10px;
  height: 400px;
  background-color: #8c9b96;
  font-family: 'digital-clock-font';
  font-size: 30pt;
  color: black;
}

  .grid-container {
    display: grid;
    grid-template: 55px 55px 70px 190px / 340px 170px;
    grid-gap: 0px;
    align-items: center;
  }

    .grid-item-1 {
      grid-area: auto / auto / auto / span 2;
      display: grid;
      grid-template-columns: auto auto;
    }

      .grid-item-1-1 {
        text-align: left;
      }

      .grid-item-1-2 {
        text-align: right;
      }

    .grid-item-2 {
      display: grid;
      grid-template-columns: auto 65px 85px;
      align-items: inherit;
      text-align: right;
    }

      .grid-item-2-1 {
        font-size: 15px;
      }

      .grid-item-2-3 {
        text-align: left;
      }

    .grid-item-3 {
      grid-area: 2 / 2 / span 2 / span 1;
    }

    .grid-item-4 {
      grid-area: 3 / 1 / span 2 / span 1;
      display: grid;
      grid-template-columns: auto 85px;
    }

      .grid-item-4-1 {
        text-align: right;
        font-size: 155pt;
      }

      .grid-item-4-2 {
        display: grid;
        padding-top: 30px;
        grid-template-rows: 46px 46px 46px;
        text-align: left;
      }

    .grid-item-5 {
      grid-area: 4 / 2 / span 1 / span 1;
      display: grid;
    }

      .grid-item-5-1 {
        font-size: 15px;
        padding-bottom: 5px;
      }

/* Buttons */

.controls {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100px;
  margin: 25px;
  margin-top: 0px;
}

  .button {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #d7d7d7;
  }
