.grid-container {
  display: grid;
  width: 510px;
  height: 370px;
  grid-gap: 0px;
  grid-template-columns: 170px 85px 85px 170px;
  grid-template-rows: 55px 55px 60px 40px 50px 50px 60px;
  background-color: #2196F3;
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.grid-item-6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-item-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
}

.grid-item-11 {
  grid-row-start: 5;
  grid-row-end: 8;
}
