@font-face {
    font-family: 'digital-clock-font';
    src: url('public/alarm_clock.ttf');
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
}

/* Unit */

.unit {
  min-width: 600px;
  max-width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #d6d5cf;
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0px 15px 10px 2px;
  text-align: center;
}

/* Display */

.screen {
  height: 400px;
  margin: 25px;
  padding: 10px;
  background-color: #8c9b96;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px 3px;
  font-family: 'digital-clock-font';
  font-size: 30pt;
  color: black;
}

  .grid-container {
    display: grid;
    grid-template: 55px 55px 70px 190px / 340px 170px;
    grid-gap: 0px;
    align-items: center;
  }

    .grid-item-1 {
      grid-column: 1 / 3;
      display: grid;
    }

      .grid-item-1-1 {
        grid-area: 1 / 1;
        text-align: left;
      }

      .grid-item-1-2 {
        grid-area: 1 / 2;
        text-align: right;
      }

    .grid-item-2 {
      display: grid;
      grid-template-columns: 190px 65px 85px;
      align-items: inherit;
      text-align: right;
    }

      .grid-item-2-1 {
        font-size: 20px;
      }

      .grid-item-2-2 {
        grid-area: 1 / 2;
      }

      .grid-item-2-3 {
        text-align: left;
      }

    .grid-item-3 {
      grid-row: 2 / 4;
    }

    .grid-item-4 {
      grid-area: 3 / 1 / 5 / 2;
      display: grid;
      grid-template-columns: 255px 85px;
    }

      .grid-item-4-1 {
        grid-area: 1 / 1;
        text-align: right;
        font-size: 155pt;
      }

      .grid-item-4-2 {
        display: grid;
        grid-template-rows: 46px 46px 46px;
        padding-top: 30px;
        text-align: left;
      }

    .grid-item-5 {
      grid-area: 4 / 2;
      display: grid;
    }

      .grid-item-5-1 {
        font-size: 20px;
        padding-bottom: 5px;
      }

.back {
  color: #808A87
}

.refresh {
  color: #808A87
}

/* Buttons */

.controls {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100px;
  margin: 25px;
  margin-top: 0px;
}

  .button {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #d7d7d7;
    box-shadow: 0px 5px 5px 0px;
  }

    .button:focus {
      outline: 0;
    }

    .button:active{
      box-shadow: 0px 1px 1px 0px;
    }
