@font-face {
    font-family: 'digital-clock-font';
    src: url('public/alarm_clock.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Unit */

.unit {
  border: 5px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 600px;
  height: 600px;
  background-color: #d6d5cf;
  text-transform: uppercase;
}

/* Display */

.screen {
  border: 5px solid black;
  border-radius: 20px;
  margin: 25px;
  padding: 10px;
  height: 400px;
  background-color: #8c9b96;
  font-family: 'digital-clock-font';
  color: black;
}

  .grid-container {
    display: grid;
    width: 510px;
    height: 370px;
    grid-gap: 0px;
    grid-template-columns: 170px 85px 85px 170px;
    grid-template-rows: 55px 55px 60px 40px 50px 50px 60px;
  }

    .grid-item-2 {
      grid-column-start: 2;
      grid-column-end: 5;
    }

    .grid-item-6 {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    .grid-item-7 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 8;
    }

    .grid-item-11 {
      grid-row-start: 5;
      grid-row-end: 8;
    }

/* Buttons */

.controls {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100px;
  margin: 25px;
  margin-top: 0px;
}

  .button {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #d7d7d7;
  }
